@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>水质监控</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="col-sm-5">
                            <#input id="waterSourceId" name="水源ID" underline="true" type="number"/>
                        </div>
                        <div class="col-sm-5">
                            <#input id="pollutionTypeId" name="污染类型ID" underline="true" type="number"/>
                        </div>
                        <div class="col-sm-5">
                            <#SelectCon id="days" name="日期" >
                            <option value="1">最近1天内</option>
                            <option value="7">最近7天内</option>
                            <option value="30">最近30天内</option>
                            </#SelectCon>
                        <div class="col-sm-5">
                            <#button btnCss="info" name="搜索" id="ensure" icon="fa-check" clickFun="Pollution.submitType()"/>
                        </div>
                    </div>
                    <div>
                        <#table id="PollutionTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/pollution/pollution.js"></script>
@}
